*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #612108;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 25px;
}

nav {
    padding: 2em;
}

aside {
    background-color: #fcf7e3;
    width: 250px;
    flex-shrink: 0;
}

li {
    background-color: #f3df86;
    border-radius: 40px;
    list-style: none;
    text-align: center;
    padding: 2em;
}

.main {
    width: calc(100vw - 250px);
    padding-inline: 2em;
}

ul img {
    width: 50px;
}

nav div img {
    width: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

#shop {
    display: flex;
    align-items: center;
    background-color: #f3df86;
    border-radius: 15px;
    margin-top: 40px;
}

.card {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #fcf7e3;
}

.card img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.productDescription {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 60px;
}

button {
    margin-bottom: 1em;
    background-color: #f3df86;
    color: #612108;
    border: 1px solid transparent;
    border-radius: 25px;
    width: 150px;
    height: 40px;
    font-weight: 600;
}

.asideContainer {
    background-color: #fcf7e3;
    border-radius: 25px;
}

.asideFlex {
    padding: 2em;
}

h3 {
    margin-top: 0;
}

